* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
    
    text-decoration: none;
}
body{
  background-color: gray;

}

.btn{
  border: none;
}
.btn:focus {
  outline: none;
  box-shadow: none;
  }
.logo_cover{
  width: 55px;
  height: auto;
  padding: 0;
  margin: 0;
}

.jewe_img{
  width: 10px;
  height: auto;
  
}